@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@300;400&family=Roboto+Mono:wght@500&display=swap');
/* ============================== CUSTOM FONTS ============================== */

@font-face {
    font-family: 'Valorant';
    src: url('/valo.ttf');
}
@font-face {
    font-family: 'NoizeSport';
    src: url('/noizesport.ttf');
}
/* ============================== RESET ============================== */

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

li {
    
    list-style-type: none;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

:root {
    --name: #fa4454;
    --background-color: #000000;
    --font-dev: 'Valorant';
    --hover-state: 	#FCEE0C;
    --font: #f2f2f2;
}


.link {
    color: var(--font);
    text-transform: uppercase;
    margin-left: 2rem;
    font-family: 'NoizeSport';
}

/* .active {
    color: var(--hover-state);
} */

.link:hover {
    cursor: pointer;
    
}
/* ============================== APP LAYOUT ============================== */
.appGrid {
    grid-template-areas:
    "navbar navbar navbar"
    "main main main"
    "footer footer footer";
    max-width: 1000px;
    margin: 0 auto;
}
/* ============================== NAVBAR ============================== */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .dev {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Valorant';
    color: var(--name);
    transform: skew(-15deg);
}
/* ============================== PROJECTS ============================== */

.projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 4rem 1.5rem;
}

.img__wrapper {
    max-width: 350px;
    transition: all 100ms ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.527);
}

.img__wrapper:hover {
    transform: scale(1.3);
}

.img__wrapper h1 {
    color: var(--font);
}

.project__container h2 {
    margin-top: 1rem;
    color: var(--font);
    text-align: center;
}

.project__container span {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.project__container span h3 {
    color: var(--font);
    border: 2px solid rgba(255, 255, 255, 0.356);
    padding: .5rem;
    border-radius: 10px;
    font-family: 'Roboto', monospace;
    text-transform: uppercase;
}
/* ============================== FOOTER ============================== */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: footer;
    color: var(--font);
    padding: 1.5rem
}

.fa-brands {
    color: white;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.line-space {
    width: 100%;
    background-color: #f2f2f2;
    color: white;
}

.footer__contacts {
    display: flex;
}

footer p {
    font-family: 'Roboto', sans-serif;
}

footer p .dev__footer {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--font);
    margin-left: .5rem;
    color: var(--name);
}

.about__section {
    padding: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}

.about__section p {
    max-width: 40ch;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}

.about__section p:first-child {
    margin-top: 5rem;
}

.contact__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.contact__section h1 {
    font-size: 2.5rem;
    color: var(--font);
    font-family: 'Poppins', sans-serif;
    margin: 4rem 0;
}

.contact__links {
    display: inline;
    margin: 1rem;
}

.largeIcon {
    font-size: 3rem;
    margin: 1rem;
}